button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	color: $color__text-input;
	border: 2px solid;
	border-color: $color__border-button;
	background-color: $color__background-button;
	box-shadow: none;
	line-height: 1;
	//padding: .4em 1em .4em  !important;
	padding: .8em 1em;
	text-shadow: none;
	text-transform: uppercase;
	font-family: $trong-af;

	&:hover {
		border-color: $color__border-button-hover;
		box-shadow: none;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
		box-shadow: none;
	}
	
}

.more-articles,
.legion {
	margin: auto;
	display: block;
}

button.legion {
	border: 2px solid $black-af;
	background: $black-af;
	color: $color__background-body;
}

button.legion:hover {
	background: $color__background-body;
	color: $black-af;
	transition: $transition;
}