button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	color: $color__text-input !important;
	border: 2px solid !important;
	border-color: $color__border-button !important;
	//border-radius: 3px;
	background: $color__background-button !important;
	box-shadow: none !important;
	//@include font-size(0.75);
	line-height: 1;
	padding: .4em 1em .4em  !important;
	text-shadow: none;
	text-transform: uppercase;
	font-family: $trong-af;
	//min-width: 140px !important;

	&:hover {
		border-color: $color__border-button-hover;
		box-shadow: none;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
		box-shadow: none;
	}
	
}