.site-description {
	font-family: $dova,$rift,$native;
	margin: 0 auto;
	font-size: 4vw;
	text-align: center;
	z-index: -1;
	opacity: .1
	}

.site-footer {
	background:$red-af;
	color: $commie-af;
	font-family: $trong-af;
	text-align: center;
}

.site-footer a {
	color: $commie-af;
	text-decoration: none;
}

@media screen and (max-width: 37.5em) {
	
	.site-info {
		width: 50%;
		margin: auto;
		font-size: .75em;
		}
	}