.site-branding {
	background: $noonwraith;
	display: block;
	float: left;
	width: 100%;
	height: $logos;
	font-family: $trong-af;
	border-top: 2px solid $black-af;
	border-bottom: 2px solid $black-af;
	position: fixed;
	z-index: 4;
	line-height: 1.7;
}

@media screen and (max-width: 37.5em) {
	.site-branding {
		line-height: 1.5;
		height: $logos-mobile;
		}
	.yggdrasil {
		width: $logos-mobile !important;
		height: $logos-mobile !important;	
		}
	.site-title {
		font-size: 2em !important;
		left: $logos-mobile !important;
		position: absolute;
	}
	.issn {
		font-size: .5em;
		margin: 45px 0 0 $logos-mobile !important;
}
	
	.site-content {
		margin-top: $logos-mobile;
		}
}

path#Tree,
g#Leaves {
	fill: $black-af;
}

.strong-af {
	width: 23vw;
	height: 22vw;
	//padding-top: 48%;
	position: relative;
	margin: auto;
}

#yggdrasil{
	position: relative;
	float: left;
	}

.yggdrasil {
	width: $logos;
	height: $logos;
	position: relative;
	float: left;	
}

.site-title {
	font-size: 3.5em;
	left: $logos;
	padding: .1em 0;
}

.issn {
	color: $black-af;
	display: block;
	line-height: 0;
	margin: -1em 6.6em;
}



svg {
    position: absolute;
    top: 0;
    left: 0;
}

.lootcrate-count {
	vertical-align: baseline;
	position: relative;
	top: -0.4em;
}