h1, h2, h3, h4, h5, h6 {
	text-transform: uppercase;
	clear: both;
	font-family: $trong-af;
}

.entry-title {
	font-family: $rift;
	writing-mode: vertical-rl;
	font-size: 15vh;
	transform: rotate(180deg);
	float: left;
  }