body,
button,
input,
select,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	@include font-size(1);
	line-height: $font__line-height-body;
}

@import "headings";

@import "copy";

@font-face {
    font-family: 'dovahkiinregular';
    src: url('webfonts/dovahkiin-af.eot');
    src: url('webfonts/dovahkiin-af.eot?#iefix') format('embedded-opentype'),
         url('webfonts/dovahkiin-af.woff2') format('woff2'),
         url('webfonts/dovahkiin-af.woff') format('woff'),
         url('webfonts/dovahkiin-af.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {font-family: 'ParadoxRuna';src: url('webfonts/32E790_0_0.eot');src: url('webfonts/32E790_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/32E790_0_0.woff2') format('woff2'),url('webfonts/32E790_0_0.woff') format('woff'),url('webfonts/32E790_0_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Prohibition-Round';src: url('webfonts/32E790_1_0.eot');src: url('webfonts/32E790_1_0.eot?#iefix') format('embedded-opentype'),url('webfonts/32E790_1_0.woff2') format('woff2'),url('webfonts/32E790_1_0.woff') format('woff'),url('webfonts/32E790_1_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Prohibition-Rough';src: url('webfonts/32E790_2_0.eot');src: url('webfonts/32E790_2_0.eot?#iefix') format('embedded-opentype'),url('webfonts/32E790_2_0.woff2') format('woff2'),url('webfonts/32E790_2_0.woff') format('woff'),url('webfonts/32E790_2_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Prohibition';font-weight: normal;font-style: italic;src: url('webfonts/32E790_3_0.eot');src: url('webfonts/32E790_3_0.eot?#iefix') format('embedded-opentype'),url('webfonts/32E790_3_0.woff2') format('woff2'),url('webfonts/32E790_3_0.woff') format('woff'),url('webfonts/32E790_3_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Prohibition-Lines';src: url('webfonts/32E790_4_0.eot');src: url('webfonts/32E790_4_0.eot?#iefix') format('embedded-opentype'),url('webfonts/32E790_4_0.woff2') format('woff2'),url('webfonts/32E790_4_0.woff') format('woff'),url('webfonts/32E790_4_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Prohibition';font-weight: normal;font-style: normal;src: url('webfonts/32E790_5_0.eot');src: url('webfonts/32E790_5_0.eot?#iefix') format('embedded-opentype'),url('webfonts/32E790_5_0.woff2') format('woff2'),url('webfonts/32E790_5_0.woff') format('woff'),url('webfonts/32E790_5_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Prohibition-RoughOblique';src: url('webfonts/32E790_6_0.eot');src: url('webfonts/32E790_6_0.eot?#iefix') format('embedded-opentype'),url('webfonts/32E790_6_0.woff2') format('woff2'),url('webfonts/32E790_6_0.woff') format('woff'),url('webfonts/32E790_6_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Prohibition-LinesOblique';src: url('webfonts/32E790_7_0.eot');src: url('webfonts/32E790_7_0.eot?#iefix') format('embedded-opentype'),url('webfonts/32E790_7_0.woff2') format('woff2'),url('webfonts/32E790_7_0.woff') format('woff'),url('webfonts/32E790_7_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Prohibition-RoundOblique';src: url('webfonts/32E790_8_0.eot');src: url('webfonts/32E790_8_0.eot?#iefix') format('embedded-opentype'),url('webfonts/32E790_8_0.woff2') format('woff2'),url('webfonts/32E790_8_0.woff') format('woff'),url('webfonts/32E790_8_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Rift-Demi';src: url('webfonts/32E790_9_0.eot');src: url('webfonts/32E790_9_0.eot?#iefix') format('embedded-opentype'),url('webfonts/32E790_9_0.woff2') format('woff2'),url('webfonts/32E790_9_0.woff') format('woff'),url('webfonts/32E790_9_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Native-Regular';src: url('webfonts/32E790_A_0.eot');src: url('webfonts/32E790_A_0.eot?#iefix') format('embedded-opentype'),url('webfonts/32E790_A_0.woff2') format('woff2'),url('webfonts/32E790_A_0.woff') format('woff'),url('webfonts/32E790_A_0.ttf') format('truetype');}
 