ul, ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

.widget ul,
.widget ol {
	list-style: none;
}

@media screen and (max-width: 37.5em) {
	
	ul, ol {
	margin: 0 .2em;
	}
}

ul.short-description {
	padding: 1em .5em;
	margin: 0;
}

ul.short-description li {
	display: block;
}

i.fa.fa.times.text-red {
	color: $resilience;
}

i.fa.fa.check.text-green {
	color: $nourishment;
}



