@import "colors";
@import "typography";
@import "structure";
$transition: all 0.5s ease;
$logos: 100px;
$dova: 'dovahkiinregular';
$native: 'Native-Regular';
$trong-af: 'Prohibition';
$futhark: 'ParadoxRuna';
$rift: 'Rift-Demi';
