.main-navigation {
	clear: both;
	display: block;
	height: $logos;
	position: fixed;
	right: 0;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding: 2em 0;

		ul {
			float: left;
			position: absolute;
			top: 1.5em;
			left: -999em;
			z-index: 99999;
			padding: 0;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 100px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		float: right;
		position: relative;
		padding: 0 .5em;

		&:hover > a,
		&.focus > a {
			color: $red-af;
		}
	}

	a {
		display: block;
		text-decoration: none;
		color: $black-af;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */
.menu-toggle {
	font-family: $trong-af;
	background: $commie-af !important;
	border-color: $color__border-button !important;
	border: 2px solid !important;
	text-transform: uppercase;
	outline: none;
	box-shadow: none !important;
	color: black;
	text-shadow: none;
	width: 25%;
	margin: 0;
	z-index: 5;
	padding: .4em 1em .4em  !important;
	opacity: .9;
	color: $color__text-input !important;
	
	&:hover,
	&:active,
	&:focus {
		border-color: none;
		box-shadow: none;
	}

}

.menu-toggle,
.main-navigation.toggled ul {
	display: inline-block;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 1em;
	z-index: 999999;
}

@media screen and (max-width: 37.5em) {

	.main-navigation ul {
		margin-bottom: 2em;
	}
	
	.main-navigation li {
		float: none;
		display: block;
		background: white;
		opacity: .9;
		padding: .5em;
		text-align: center;
	}
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}



.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

.menu-cart {
	background: #999999;
}

.menu-cart a {
	color: white;
	text-decoration: none;

	&:visited {
		color: black;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
		transition: $transition;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}
